/* 
 base is define the default for element 
 component is create component for reusable
 utilities is for adjust element override component and base 
 theme is for custom theme
*/

@import "tailwindcss";

@theme {
  --color-accent: hsl(345, 100%, 50%);
  --color-accent-dark: hsl(345, 100%, 45%);
}

@layer base {
  p {
    @apply text-sm text-center md:text-base lg:text-xl;
  }

  html {
    @apply scroll-smooth;
  }

  body {
    font-family: inter, kanit;
    @apply bg-slate-950 text-slate-200;
  }

  .muted-text {
    @apply text-slate-400;
  }

  .btn {
    @apply px-4 py-2 text-base font-bold rounded-xl cursor-pointer md:text-lg lg:text-xl text-white  bg-accent transition ease-in-out shadow-lg hover:scale-110 hover:-translate-y-1 shadow-red-500/80 hover:shadow-red-700/50 hover:bg-accent-dark;
  }

  .section-heading {
    @apply text-3xl font-bold md:text-4xl lg:text-5xl;
  }

  .sub-heading {
    @apply text-lg md:text-xl leading-tight lg:text-2xl xl:text-3xl;
  }
}

::-webkit-scrollbar-track {
  background: @apply bg-slate-950; /* Set track background color */
}

::-webkit-scrollbar {
  width: 10px; /* Set scrollbar width */
}

::-webkit-scrollbar-thumb {
  background: #ff0040;
}

::-webkit-scrollbar-thumb:hover {
  background: hsl(345, 100%, 40%);
}
